<p>Seus produtos <%= current_user.restaurant.name %> </p>
        <table>
            <thead>
                <tr>
                    <th> Nome</th>
                    <th> Valor</th>
                </tr>
            </thead>

            <tbody>
                <% current_user.restaurant.products.each do |prod|%>
                    <tr>
                        <th> <%= prod.name %> </th>
                        <th> <%= prod.value %> </th>
                    </tr>
                <% end %>
            </tbody>
        </table>